# Site settings +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

## title & header
title: Ello | wtf
subtitle: Help and other resources for Ello # only appears in the <title> tag of the site

## meta tag content (also affects facebook og: tags)
# meta description is overridden by the post excerpt on post pages
meta_description: > # this means to ignore newlines until "meta_keywords:"
  Ello is an ad-free social network leading a revolution in how people connect, 
  where you can be whoever you want to be, and where quality, beauty, and positivity 
  are valued above quantity and statistics.
# meta keywords: separate each keyword/phrase with a comma, new lines are ok
meta_keywords: > # this means to ignore newlines until "baseurl:"
  Ello, Ello.co, Social Network, Ad-free, No ads, no advertising, message service, data mining, 
  free, instant message, message, messaging, private messaging, text messaging, text post, image post, 
  sound file, video, words, friends, noise, friends and noise, Youtube, Vimeo, Facebook, Tumblr, 
  Twitter, Instagram, App.net, Pinterest, Path

## facebook og tags
fb_site_name: Ello

## analytics
segment_write_key: abcdef # overridden by the SEGMENT_WRITE_KEY environment variable, don't set here

## Footer settings + links
# social media
ello_username: ello
twitter_username: ellohype
tumblr_username: ellohype
instagram_username: ellohype
pinterest_username: ellohype
facebook_username: ellohype

## Time Zone and future publishing
timezone: Mountain Time
future: false # false: only post future-dated articles once we've reached the proper time

## DO NOT CHANGE THINGS BELOW THIS LINE ---------------------------------------------------------------------

# Build settings ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
#### you can pretty much ignore everything in this section ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^

## basic settings
baseurl: "/wtf" # the subpath of your site, e.g. /blog/
url: "https://ello.co" # the base hostname & protocol for your site
webapp_url: "https://ello.co"
permalink: /:categories/:title/ # construct our URLs (this is misleading because it's not based on title, but filename - see README)

## gems
plugins:
  - jemoji ## emoji support - https://github.com/jekyll/jemoji
  - jekyll-html-pipeline
  - jekyll-assets
  - jekyll-redirect-from

## non-gem ruby plugins
plugins_dir: _plugins

## markdown flavor
markdown: HTMLPipeline
html_pipeline:
  filters:
    - "markdownfilter"
    - "mentionfilter"
  context:
    asset_root: "https://ello.co/wtf"
    base_url:   "https://ello.co"

emoji:
  src: "/wtf"

## asset pipeline setup
assets: # https://github.com/jekyll-assets/jekyll-assets
  # baseurl: http://my.super-cool-cdn.com/assets
  js_compressor:  uglifier
  css_compressor: sass

## do not copy/move these files when running a build
exclude:
  - README.md
  - REVISION
  - Procfile
  - Rakefile
  - Capfile
  - Gemfile
  - Gemfile.lock
  - config.ru
  - vendor
  - lib
  - config
  - stopwords.txt
