---
layout: default
css_hook: index
---
{% assign sorted_categories = site.categories | sort %}
{% for category in sorted_categories %}
  <section class="category">
    {% assign current_category = category | first %}
    {% assign sorted_posts     = site.categories[current_category] | sort.position %}
    {% assign first_post       = sorted_posts.first %}
    <h2><a href="{{ site.baseurl }}{{ first_post.url }}">{{ category | first | capitalize }}</a></h2>
    <ul>
      {% for post in sorted_posts %}
        <li><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></li>
      {% endfor %}
    </ul>
  </section>
{% endfor %}
