{% assign sorted_categories = site.categories | sort %}
{% for category in sorted_categories %}
  {% assign current_category = category | first %}
  {% assign sorted_posts     = site.categories[current_category] | sort: 'position' %}
  {% assign first_post       = sorted_posts.first %}

  {% unless current_category == "policies" %}
    {% include category_list_with_posts_content.html %}
  {% endunless %}
{% endfor %}

{% for category in sorted_categories %}
  {% assign current_category = category | first %}
  {% assign sorted_posts     = site.categories[current_category] | sort: 'position' %}
  {% assign first_post       = sorted_posts.first %}
  
  {% if current_category == "policies" %}
    {% include category_list_with_posts_content.html %}
  {% endif %}
{% endfor %}
