<meta content="{% if site.fb_site_name %}{{ site.fb_site_name }}{% else %}{{ site.title }}{% endif %}" property="og:site_name">
<meta content="{% if page.title_alternate %}{{ page.title_alternate }} – {{ page.categories | first | replace: '-and-', ' & ' | capitalize }} | {% else if page.title %}{{ page.title }} – {{ page.categories | first | replace: '-and-', ' & ' | capitalize }} | {% endif %}{{ site.title }} | {{ site.subtitle }}" property="og:title">
<meta content="website" property="og:type">
<meta content="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}" property="og:url">
<meta content="{% if page.excerpt %}{{ page.title }} – {% if page.categories %}{{ page.categories | first | replace: '-and-', ' & ' | capitalize }} – {% endif %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.meta_description | replace: '  ', ' ' }}{% endif %}" property="og:description">
