<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
  <meta content="width=device-width,initial-scale = 1.0" name="viewport">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <title>{% if page.title %}{{ page.title }} – {{ page.categories | first | capitalize }} | {% endif %}{{ site.title }} | {{ site.subtitle }}</title>
  <meta name="description" content="{% if page.excerpt %}{% if page.title_alternate %}{{ page.title_alternate }} – {{ page.categories | first | capitalize }} | {% else if page.title %}{{ page.title }} – {{ page.categories | first | capitalize }} | {% endif %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.meta_description | replace: '  ', ' ' }}{% endif %}">
  {% if site.meta_keywords %}<meta name="keywords" content="{{ site.meta_keywords | replace: '  ', ' ' }}">{% endif %}
  {% if page.excerpt %}<meta name="author" content="Ello">{% endif %}
  <meta content="1 day" name="revisit-after">
  <meta content="{{ site.webapp_url }}/apple-touch-icon-precomposed.png" property="og:image">
  <meta content="app-id=953614327" name="apple-itunes-app">

  {% include fb_meta.html %}

  {% stylesheet ellowtf media="all" %}
  <link href="{{ site.webapp_url }}/apple-touch-icon-precomposed.png" rel="apple-touch-icon">
  <link href="{{ site.webapp_url }}/apple-touch-icon-precomposed.png" rel="apple-touch-icon-precomposed">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
</head>
