<header class="top clear">
  <h1>
    <a href="{{ site.baseurl }}/" data-no-turbolink>
      <span class="icon">
        {% include svg/ello_icon.svg %}
      </span>
      <span class="label">{{ site.title }}</span>
    </a>
  </h1>
  {% if site.header_title %}<h2><a href="{{ site.baseurl }}/"><strong>Ello </strong><em>WTF</em></a></h2>{% endif %}

  <nav>
    <ul>
      <li class="drawer_toggle mobile_only">
        <a href="#toggle_drawer">
          <span class="icon">
            {% include svg/drawer_toggle_icon.svg %}
          </span>
          <span class="label">Toggle Drawer</span>
        </a>
      </li>
      <li class="search_holder">
        <span class="trigger">
          <a class="search clear" href="/wtf/search">
            <span class="icon">
              {% include svg/mag_icon.svg %}
            </span>
            <span class="label">Search</span>
          </a>
        </span>
        <span class="form inactive">
          {% include search_form.html %}
          <span class="clear_search">
            {% include svg/clear_icon.svg %}
          </span>
        </span>
      </li>
      <li class="no_mobile"><a href="/">Back to Ello</a></li>
    </ul>
  </nav>

</header>
