// +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ articles

body {
  &.article {
    .content {
      aside {
        &#video_embed {
          margin-bottom: 2rem;
          background-color: $grey1;
        }
      }

      article {
        width: percentage((($largeColumn * 3) + ($smallColumn * 2)) / $layoutWidth);
        max-width: (($largeColumn_px * 3) + ($smallColumn_px * 2));
        word-wrap: break-word;
        @include standard-copy-formatting;
        float: left;

        @media only screen and (max-width : 1024px) {
          width: percentage((($largeColumn * 4) + ($smallColumn * 3)) / $layoutWidth);
        }

        @media only screen and (max-width : 640px) {
          width: 100%;
        }

        img {
          max-width: percentage(((($largeColumn * 4) + ($smallColumn * 3))) / (($largeColumn * 3) + ($smallColumn * 2)));

          @media only screen and (max-width : 1024px) {
            max-width: percentage(((($largeColumn * 5) + ($smallColumn * 5))) / (($largeColumn * 4) + ($smallColumn * 3)));
          }
          @media only screen and (max-width : 1024px) {
            max-width: 100%;
          }
        }

        footer {
          margin-bottom: 3.5rem;
          p {
            color: $grey3;

            a {
              color: $grey3;
              &:hover {
                color: $black;
              }
            }
          }
        }
      }
    }
  }
}
