// +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ categories

body {
  &.category {
    #main_content {
      article {
        width: percentage((($largeColumn * 3) + ($smallColumn * 2)) / $layoutWidth);
        @include standard-copy-formatting;
        float: left;

        @media only screen and (max-width : 1024px) {
          width: percentage((($largeColumn * 3.5) + ($smallColumn * 3)) / $layoutWidth);
        }
        @media only screen and (max-width : 640px) {
          width: 100%;
          float: none;
          clear: both;
        }

        p {
          &:first-child {
            margin-top: 0;
          }
        }
      }
      nav {
        width: percentage((($largeColumn * 2) + ($smallColumn * 1)) / $layoutWidth);
        float: right;

        @media only screen and (max-width : 640px) {
          margin-top: 20px;          
          width: 100%;
          float: none;
          clear: both;
        }

        ul {
          margin-top: 0;
          font-family: $groteskBlack;
          font-weight: 900;

          li {
            margin-bottom: 1.925rem;

            @media only screen and (max-width : 768px) {
              margin-bottom: 1.55rem;
            }
            @media only screen and (max-width : 640px) {
              margin-bottom: 1rem;
            }
            a {
              text-decoration: underline;
              &:hover {
                color: $grey3;
              }
            }
          }
        }
      }
    }
  }
}
