// ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ ello button

#ello_button {
  h2 {
    margin-bottom: $gutter_px;
    @include type-big;

    &.size-choice-label {
      margin-bottom: 1rem;
    }

    @media only screen and (max-width : 539px) {
      font-size: 1.1rem;
      line-height: 1.35rem;
    }
  }

  span,
  textarea,
  input[type=text] {
    @include type-medium;
  }

  input[type=text],
  textarea {
    padding: $smallColumn_px;
    width: 100%;
    border: 1px solid $grey3;
  }


  label {
    cursor: pointer;
    padding-right: 35px;

    @media only screen and (max-width : 539px) {
      padding-right: 25px;
    }
  }
  input[type=radio] {
    display:none;
  }
  input[type=radio] + label span {
    display:inline-block;
    cursor: pointer;
    margin: -3px 10px 0 0;
    width: 20px;
    height: 20px;
    vertical-align:middle;
    border: 1px solid $grey3;
    @include border_radius(20px);
    background-color: $white;

    @media only screen and (max-width : 539px) {
      margin: -3px 6px 0 0;
      width: 14px;
      height: 14px;
    }
  }

  input[type=radio]:checked + label span{
    border-color: $black;
    background-color: $black
  }

  span {
    &.label {
      &.sub {
        color: $grey3;
      }
    }
  }

  .size-choices {
    padding-bottom: 20px;
  }

  .step {
    margin-bottom: $smallColumn_px;

    &:last-child {
      margin-bottom: 0;
    }

    &.two {
      .option {
        display: block;
        margin-bottom: $gutter_px;
        width: 100%;
        clear: both;

        .button,
        .code {
          display: block;
          width: 50%;
          float: left;

          @media only screen and (max-width : 539px) {
            width: 100%;
            float: none;

          }

          .label {
            display: block;
            margin-bottom: 0.25rem;
            width: 100%;
            clear: both;
          }
        }

        .code {
          padding-left: ($gutter_px / 2);
          @media only screen and (max-width : 539px) { 
            padding-left: 0;
            margin-top: 24px;
          }

          textarea {
            margin-bottom: $smallColumn_px;
            width: 100%;
            height: 210px;
            font-family: "Andale Mono", "Consolas", "Lucida Console", "Menlo", "Luxi Mono", monospace;

            @media only screen and (max-width : 539px) {
              height: 140px;
            }
          }
        }
        .button {
          padding-right: ($gutter_px / 2);
          @media only screen and (max-width : 539px) { padding-right: 0; }

          .button-holder {
            display: block;
            width: 100%;
            height: 280px;
            background-color: $grey2;

            span {
              &.icon {
                margin: 0 auto;
                display: block;
                width: 40px;
                height: 40px;
                border-radius: 50%;
                overflow: hidden;
                @include vertical_align; 
                svg {
                  path {
                    &.svg__bg {
                      fill: $black;
                    }
                    &.svg__fg {
                      fill: $white;
                    }
                  }
                }
              }
            }
          }
        }
        &.white {
          .button {
            .button-holder {
              background-color: $black;
              span {
                &.icon {
                  svg {
                    path {
                      &.svg__bg {
                        fill: $white;
                      }
                      &.svg__fg {
                        fill: $black;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
