// ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ non-article pages

body {
  &.index {
    #main_content {
      ul {
        &.category-list {
          margin: 0;
          padding: 0;
          font-family: $groteskBlack;
          @include type-big;
          li {
            a {
              position: relative;
              display: inline-block;
              text-decoration: underline;

              &:hover {
                color: $grey3;
              }
            }
          }
        }
      }
    }
  }
}
