// +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ search

#search_content {
  .search_content {
    padding-right: $gutter_px;
    width: 100%;
    max-width: $largeColumn_px * 2 + $smallColumn_px + $gutter_px;
    header,
    section.results {
      h1, h2 {
        margin-bottom: 2.75rem;
        @include type-big;
        color: $grey3;

        span {
          color: $black;
          em {
            font-style: normal;
          }
        }
      }

      h2 {
        color: $black;
      }
    }
    section {
      &.results {
        h2 {
          margin-bottom: 1.25rem;

          a {
            text-decoration: underline;

            &:hover {
              color: $grey3;
            }
          }
        }
        p {
          margin: 0;
          span {
            &.more {
              padding-left: 3px;
              a {
                color: $grey3;
                border-bottom: 1px solid;
                &:hover {
                  color: $black;
                }
              }
            }
          }
        }
        article {
          &.result {
            margin-bottom: 1.25rem;
          }
        }
      }
    }
    p {
      &.topic_link {
        padding-top: 2.25rem;

        a {
          border-bottom: 1px solid;
          &:hover {
            color: $grey3;
          }
        }
      }
    }
  }
}
