// +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ search

#search_content {
  .search_content {
    padding-top: 70px;
    width: percentage((($largeColumn * 3) + ($smallColumn * 2)) / $layoutWidth);
    float: left;

    @media only screen and (max-width : 1024px) {
      width: percentage((($largeColumn * 3.5) + ($smallColumn * 3)) / $layoutWidth);
    }
    @media only screen and (max-width : 640px) {
      width: 100%;
      float: none;
      clear: both;
    }

    header,
    section.results {
      @include standard-copy-formatting;

      h1, h2 {
        margin-bottom: 2.75rem;
        @include type-medium;
        font-family: $groteskBlack;
        font-weight: 900;
        color: $grey3;

        a {          
          border: 0;
        }

        span {
          color: $black;
          em {
            font-style: normal;
          }
        }
      }

      h2 {
        color: $black;
      }
    }
    section {
      &.results {
        h2 {
          margin-bottom: 1.25rem;

          a {
            text-decoration: underline;

            &:hover {
              color: $grey3;
            }
          }
        }
        p {
          margin: 0;
          span {
            &.more {
              padding-left: 3px;
              a {
                color: $grey3;
                border-bottom: 1pt solid;
                &:hover {
                  color: $black;
                }
              }
            }
          }
        }
        article {
          &.result {
            margin-bottom: 2.5rem;
          }
        }
      }
    }
    p {
      &.topic_link {
        padding-top: 2.25rem;
        font-family: $groteskBlack;
        font-weight: 900;

        a {
          border-bottom: 1pt solid;
          &:hover {
            color: $grey3;
          }
        }
      }
    }
  }
}
