// +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ search

#search_content {
  .search_content {
    padding-right: $gutter_px;
    width: 100%;
    max-width: $largeColumn_px * 2 + $smallColumn_px + $gutter_px;
    header,
    section.results {
      h1, h2 {
        margin-bottom: 2.75rem;
        font-size: $bigText;
        line-height: $bigTextLine;
        color: $grey3;

        span {
          color: $black;
          em {
            font-style: normal;
          }
        }
      }

      h2 {
        color: $black;
      }
    }
    section {
      &.results {
        h2 {
          margin-bottom: 1.25rem;

          a {
            text-decoration: underline;

            &:hover {
              color: $grey3;
            }
          }
        }
        p {
          margin: 0;
          &.more {
            a {
              color: $grey3;
              border-bottom: 1px solid;
              &:hover {
                color: $black;
              }
            }
          }
        }
        article {
          &.result {
            margin-bottom: 1.25rem;
          }
        }
      }
    }
    p {
      &.topic_link {
        padding-top: 2.25rem;

        a {
          border-bottom: 1px solid;
          &:hover {
            color: $grey3;
          }
        }
      }
    }
  }
}

@media only screen and (min-width : 1px) and (max-width : 719px) {
  #search_content {
    .search_content {
      padding-right: $gutter_px;
      max-width: 100%;
      header,
      section.results {
        h1, h2 {
          // margin-bottom: 2.75rem;
          font-size: $bigText_m;
          line-height: $bigTextLine_m;
        }

        h2 {
          color: $black;
        }
      }
      header {
        h1 {
          margin-bottom: 1.5rem;
          font-family: $groteskRegular;
          font-weight: 400;
          font-size: 0.875rem;
          line-height: auto;
        }
      }
      section {
        &.results {
          h2 {
            margin-bottom: 0.5rem;
            a {
              text-decoration: none;

              &:hover {
                color: $grey3;
              }
            }
          }
          p {
            margin: 0;
            span.more {
              a {
                color: $grey3;
                border-bottom: 1px solid;
                &:hover {
                  color: $black;
                }
              }
            }
          }
          article {
            &.result {
              margin: 0 (-$gutter_px - 10px) 20px -10px;
              padding: 0 ($gutter_px + 10px) 20px 10px;

              border-bottom: 1px solid $grey1;
            }
          }
        }
      }
    }
  }
}
