// ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ black buttons

.blackbutton {
    display: inline-block;
    position: relative;
    margin: 0;
    padding: 0.3125rem 0.625rem;
    height: 1.875rem;
    font-size: 0.75rem;
    color: white;
    text-decoration: none;
    // line-height: 0.75rem;
    text-align: center;
    vertical-align: middle;
    background-color: black;
}
