// ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ black buttons

.blackbutton {
    display: inline-block;
    position: relative;
    margin: 0;
    padding-right: 30px;
    padding-left: 30px;
    padding-top: 10px;
    height: 60px;
    font-size: 0.75rem;
    color: white;
    text-decoration: none;
    line-height: 24px;
    text-align: center;
    vertical-align: middle;
    background-color: black;
    }
    
.blackbutton:hover {
    background-color: $grey3;
    color: white;
    transition: none;
}
