// +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ color defaults

$white:           white;
$black:           black;

$grey1:           #f1f1f1;
$grey2:           #e5e5e5;
$grey3:           #aaa;
$grey4:           #666;
$grey5:           #4d4d4d;
$grey6:           #231f20;

$yellow:          #ffffcc;
$pink:            #ffcccc;
$red:             #ff0000;
