// +++++++++++++++++++++++++++++++++++++++++++++++++++ controls & form standards

input[type="text"],
input[type="email"],
input[type="password"],
input[type="submit"],
textarea {
  @include type-medium;
  font-family: $groteskRegular;
  outline: none;
  @include border_radius(0);
  -moz-appearance: none;
  -webkit-appearance: none;
}
