// +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ footer

footer.bottom {
  position: absolute;
  bottom: 0;
  padding-top: $smallColumn_px * 4;
  padding-bottom: $smallColumn_px;
  width: 100%;
  height: $smallColumn_px + $smallColumn_px + 200px; // part of the hack to push footer down
  max-width: $layoutWidth_px + $gutter_px;
  nav {
    width: 100%;
    ul {
      display: block;
      padding-right: $smallColumn_px;
      width: percentage(($largeColumn + $smallColumn) / $layoutWidth);
      max-width: $largeColumn_px + $smallColumn_px;
      float: left;

      &:nth-child(4n) {
        width: percentage(($largeColumn) / $layoutWidth);
      }

      li {
        display: block;        
        margin-bottom: 1rem;
        width: 100%;
        max-width: $largeColumn_px;
        a {
          display: block;
          // background-color: rgba(pink,0.5);
          padding: 0.25rem 0 0.25rem 0;
          color: $grey3;

          &:hover {
            color: $black;
          }

          strong {
            font-family: $groteskRegular;
            font-weight: 400;
          }

        }
      }
      &.social {
        padding: 0;
        margin: 0;
        width: auto;
        float: right;
        li {
          display: inline-block;
          margin: 0;
          padding: 0;
          width: auto;
          a {
            display: block;
            padding: 0;
            margin: 0 0 0 1.55rem;
            float: left;

            span {
              &.label {
                display: none;
              }
              &.icon {
                svg {
                  width: 16px;
                  height: 16px;
                }
              }
            }

            // social icons
            &.ello {
              span {
                
                &.icon {
                  svg {
                    width: 16px;
                    height: 16px;
                    @include border_radius(16px);

                    path {
                      &.svg__bg {
                        @include transition_fill(150ms);
                        fill: $black;
                      }
                      &.svg__fg {
                        fill: $white;
                      }
                    }
                  }
                }
              }
            }
            &.twitter {
              margin-left: 1.8rem;
              span {
                &.icon {
                  svg {
                    width: 18px;
                    height: 16px;

                    path {
                      @include transition_fill(150ms);
                      fill: $black;
                    }
                  }
                }
              }
            }
            &.tumblr,
            &.instagram,
            &.pinterest,
            &.facebook {
              span {
                &.icon {
                  svg {
                    width: 18px;
                    height: 16px;

                    path {
                      @include transition_fill(150ms);
                      fill: $black;
                    }
                  }
                }
              }
            }
            &.tumblr,
            &.instagram {
              margin-left: 1.4rem;
            }

            &:hover {
              span {
                &.icon {
                  svg {
                    path,
                    rect,
                    ellipse,
                    polygon {
                      fill: $grey3;
                      &.stroke {
                        fill: none;
                        stroke: $black;
                      }
                      &.svg__bg {
                        fill: $grey3;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }  
}

@media only screen and (min-width : 720px) and (max-width : 914px) {
  footer.bottom {
    nav {
      ul {
        li {
          a {
            strong {
              display: none;
            }
          }
        }
      }
    }
  }
}

@media only screen and (min-width : 1px) and (max-width : 719px) {
  footer.bottom {
    padding-top: 10px;
    padding-bottom: 0;
    height: ($smallColumn_px * 2.5) + 105px; // part of the hack to push footer down
    max-width: 100%;
    nav {
      width: 100%;
      ul {
        padding-right: 0;
        width: 100%;
        max-width: 100%;
        &:nth-child(n+3) {
          display: none;
        }
        li {
          margin-bottom: 0.25rem;
        }

        &.social {
          position: absolute;
          bottom: -26px;
          width: 100%;

          li {
            margin: 0;
            padding: 0;
            width: 20px;
            float: left;

            &:last-child {
              margin-right: 0;
            }
            span {
              &.icon {
                margin: 0;
                padding: 0;
              }
            }
          }
        }
      }
    }
  }
}
@media only screen and (min-width : 414px) and (max-width : 719px) {
  footer.bottom {
    nav {
      ul {
        &.social {
          li {
            margin-right: 10.65%;
          }
        }
      }
    }
  }
}
@media only screen and (min-width : 375px) and (max-width : 413px) {
  footer.bottom {
    nav {
      ul {
        &.social {
          li {
            margin-right: 10%;
          }
        }
      }
    }
  }
}
@media only screen and (min-width : 1px) and (max-width : 374px) {
  footer.bottom {
    nav {
      ul {
        &.social {
          li {
            margin-right: 8.75%;
          }
        }
      }
    }
  }
}
