// +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ header

// set the body margin/padding here since it's based off the header-height
body {
  padding-top: ($gutter_px * 0.5) + ($gutter_px * 2);

  @media only screen and (min-width : 1px) and (max-width : 920px) {
    padding-top: ($gutter_px * 0.5) + ($gutter_px * 2) + (48px / 2);
  }
}

header.top {
  position: fixed;
  top: 0;
  left: 0;
  padding: ($gutter_px * 0.5);
  height: $gutter_px * 2.5;
  width: 100%;
  // background-color: yellow;
  background-color: $white;
  z-index: 50;

  @media only screen and (min-width : 1px) and (max-width : 920px) {
    padding: 48px 14px 18px 14px;
    height: $gutter_px * 2.5 + (48px / 2);
  }

  .site-name {
    position: absolute;
    top: $gutter_px;
    left: $gutter_px;

    @media only screen and (min-width : 1px) and (max-width : 920px) {
      top: 14px;
      left: 14px;
    }

    h1 {
      margin-right: 0.25rem;
      @include type-medium(false);
      float: left;
      a {
        span {
          &.icon {
            svg {

              path,
              polygon {
                fill: $black;
              }
            }
          }
          &.label {
            display: none;
          }
        }
      }
    }

    h2 {
      @include type-medium(false);
      font-family: $groteskBlack;
      font-weight: 900;
      color: $grey3;
      float: left;
    }
  }

  .search-holder {
    position: relative;
    margin: 0 auto;
    width: 60%;

    @media only screen and (min-width : 1px) and (max-width : 920px) {
      width: 100%;
    }

    span {
      display: block;
      &.trigger {
        position: absolute;
        z-index: 6;
        height: 100%;
        overflow: hidden;
        a {
          display: block;
          padding: 0 0 0 20px;
          width: 46px;
          @include vertical_align;

          @media only screen and (min-width : 1px) and (max-width : 420px) {
            padding-left: 11px;
            width: 36px;
          }

          span {
            &.icon {
              padding: 2px 3px 2px 3px;
              margin: 0;
              width: 20px;
              height: 100%;
              svg {
                display: block;
                width: 16px;
                height: 16px;
                path {
                  @include transition_fill(150ms);
                  fill: $grey3;
                }
              }
            }
            &.label {
              display: none;
            }
          }
          &:hover {
            span {
              &.icon {
                svg {
                  path {
                    fill: $black;
                  }
                }
              }
            }
          }
        }
      }
      &.form {
        input[type=text] {
          position: relative;
          display: block;
          padding: 19px $gutter_px 18px ($gutter_px * 1.5);
          width: 100%;
          @include type-medium(false);
          font-family: $groteskBlack;
          font-weight: 900;
          color: $black;
          @include border-radius(5pt);
          background-color: $grey1;
          z-index: 4;

          @media only screen and (min-width : 1px) and (max-width : 420px) {
            padding-left: $gutter_px;
            font-size: 1.45rem;
            line-height: 1.45rem;
          }
        }
        @include placeholder-color($grey3);

        span {
          &.clear-search {
            position: absolute;
            display: block;
            margin: 0;
            padding: 2px;
            top: 0;
            right: $gutter_px / 2;
            width: 18px;
            height: 100%;
            z-index: 5;
            overflow: hidden;

            @media only screen and (min-width : 1px) and (max-width : 420px) {
              right: $gutter_px / 2.5;
            }

            svg {
              display: block;
              width: 14px;
              height: 14px;
              @include vertical_align;
              title {
                display: none;
              }
              polygon {
                fill: $grey3;
              }
            }
            &:hover {
              cursor: pointer;
            }
          }
        }
        &.inactive {
          span {
            &.clear-search {
              display: none;
            }
          }
        }
      }
    }
  }

  nav {
    position: absolute;
    right: $gutter_px;
    top: 0;
    height: 100%;

    @media only screen and (min-width : 1px) and (max-width : 920px) {
      right: 14px;
      height: 52px;
    }
    p {
      margin: 0;
      padding: 0;
      &.back-to-ello {
        @include type-small;
        @include vertical_align;

        a {
          color: $grey3;
          &:hover {
            color: $black;
          }
        }
      }
    }
  }
}
