// +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ header

// set the body margin/padding here since it's based off the header-height
body {
  padding-top: 180px; // 120px header + 60px margin to content
}

header.top {
  position: fixed;
  top: 0;
  left: 0;
  padding: $gutter_px $gutter_px $gutter_px $smallColumn_px;
  width: 100%;
  // background-color: yellow;
  background-color: $white;
  @include box_sizing_inset;
  z-index: 50;

  h1 {
    margin-right: $smallColumn_px / 2;
    width: 60px;
    height: 60px;
    float: left;
    a {
      span {
        &.icon {
          svg {
            width: 60px;
            @include border_radius(60px);

            path {
              &.svg__bg {
                fill: $black;
              }
              &.svg__fg {
                fill: $white;
              }
            }
          }
        }
        &.label {
          display: none;
        }
      }
    }
  }

  h2 {
    margin-top: 1.25rem;
    font-family: $bodyNormal;
    font-weight: 400;
    float: left;
  }

  nav {
    // background-color: purple;
    float: right;

    h3 {
      margin-top: 1.25rem;
      margin-right: 22px;
      float: right;
    }
    ul {
      margin-top: 1.25rem;
      margin-right: -0.7rem;
      float: right;
      li {
        display: inline;

        a {
          padding: 0.7rem;
          color: $grey3;
          // background-color: pink;

          &:hover,
          &.current {
            color: $black;
          }
        }
      }
    }
  }
}
