// +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ header

// set the body margin/padding here since it's based off the header-height
body {
  padding-top: 180px; // 120px header + 60px margin to content
}

header.top {
  position: fixed;
  top: 0;
  left: 0;
  padding: $gutter_px $gutter_px $gutter_px $smallColumn_px;
  width: 100%;
  // background-color: yellow;
  background-color: $white;
  @include box_sizing_inset;
  z-index: 50;

  h1 {
    margin-right: $smallColumn_px / 2;
    width: 60px;
    height: 60px;
    float: left;
    a {
      span {
        &.icon {
          svg {
            width: 60px;
            @include border_radius(60px);

            path {
              &.svg__bg {
                fill: $black;
              }
              &.svg__fg {
                fill: $white;
              }
            }
          }
        }
        &.label {
          display: none;
        }
      }
    }
  }

  h2 {
    margin-top: 1.25rem;
    font-family: $bodyNormal;
    font-weight: 400;
    float: left;
  }

  nav {
    // background-color: purple;
    float: right;

    h3 {
      margin-top: 1.25rem;
      margin-right: 22px;
      float: right;
    }
    ul {
      margin-top: 1.25rem;
      float: right;
      li {
        display: inline;

        a {
          padding: 0.7rem;
          color: $grey3;
          // background-color: pink;

          &:hover,
          &.current {
            color: $black;
          }
        }
        &.search_holder {
          margin-right: 1.4rem;
          width: $largeColumn_px + 30px;
          background-color: rgba(yellow,0.8);

          span {
            display: block;
            float: left;
            &.trigger {
              padding-top: 2px;
              width: 14px;              
              a {
                svg {
                  path {
                    @include transition_fill(150ms);
                    fill: $grey3;
                  }
                }
                &:hover {
                  svg {
                    path {
                      fill: $black;
                    }
                  }
                }
              }
            }
            &.form {
              position: relative;
              margin-left: 30px;

              input[type=text] {
                position: relative;
                padding-bottom: 0.25rem;
                width: $largeColumn_px;
                border-bottom: 1px solid $grey3;
                z-index: 4;
              }
              a {
                &.clear_search {
                  position: absolute;
                  display: block;
                  margin: 3px 0 0 0;
                  padding: 2px;
                  top: 0;
                  right: 0;
                  width: 10px;
                  height: 10px;
                  z-index: 5;
                  overflow: hidden;
                  svg {
                    display: block;
                    width: 8px;
                    height: 8px;
                    title {
                      display: none;
                    }
                    polygon {
                      fill: $grey3;
                    }
                  }
                  &:hover {
                    cursor: pointer;
                  }
                }
              }
              &.inactive {
                a {
                  &.clear_search {
                    display: none;
                  }
                }
              }
            }
          }
          &.active {
            span {
              &.trigger {
                a {
                  svg {
                    path {
                      fill: $black;
                    }
                  }
                }
              }
              &.form {
                input[type=text] {
                  border-color: $black;
                }
              }
            }
          }
        }
      }
      &.tabs {
        margin: 0 0 0 15px;
        padding: 0;
        li {
          margin: -0.35rem 0 0 0;
          padding: 0;
          display: inline-block;
          height: 1.875rem;
          a {
            padding: 0.3125rem 0.625rem;
            color: $grey3;
            @include transition_color(150ms);
            &:hover {
              color: $white;
            }
          }
          &:last-child {
            margin-left: -0.55rem;
          }
        }
      }
    }
  }
}
