// ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ layout defaults

*, *:before, *:after {
  @include box_sizing_inset;
}

html {
  height:100%; // hack for pushing footer to bottom
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

body {
  height:100%; // hack for pushing footer to bottom
  background-color: $white;
}

hr {
  display: block;
  margin: 1em 0;
  padding: 0;
  height: 1px;
  border: 0;
  border-top: 1px solid #f1f1f1;

  &.spacer {
    width: 100%;
    border: 0;
    background: none;
    clear: both;
  }
}

svg {
  title {
    display: none;
  }
}

// ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ main layout stuff

#content_container { // hack for pushing footer to bottom
  position: relative;
  min-height: 100%;
}

#main_content,
#search_content {
  position: relative;
  padding-left: $gutter_px;
  // padding-bottom: 2.5rem;
  padding-bottom: $smallColumn_px + $smallColumn_px + 15px + 200px + 30px; // part of the hack to push footer down
  width: 100%;
  min-height: 100%; // hack for pushing footer to bottom
  max-width: $layoutWidth_px;
  // background-color: yellow;
}

.page-header {
  position: relative;
  padding-bottom: 34%;
  margin-bottom: 70px;
  width: 100%;
  background-color: $grey2;
  @include centered_bg_image;

  .constraint {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba($black,0.5);

    h1 {
      font-family: $groteskBlack;
      font-size: $bigText;
      line-height: $bigText;
      color: $white;
      @include center-align;
      text-align: center;
    }
  }
}

.category {
  padding-right: $gutter_px;
  width: percentage(($largeColumn + $smallColumn) / $layoutWidth);
  // background-color: rgba(purple,0.8);
  float: left;

  &:nth-child(4n) {
    width: percentage(($largeColumn) / $layoutWidth);
  }

  h2, ul {
    font-size: $bigText;
    line-height: $bigTextLine;
  }

  ul {
    margin: 0;
  }
  h2 {
    margin-bottom: 1.5rem;
    color: $black;
    span {
      display: none;
    }
    a {
      color: $black;
    }
  }
  ul {
    li {
      margin-bottom: 1.2rem;
      // background-color: rgba(pink,0.4);

      &:last-child {
        margin-bottom: 0;
      }
      a {
        display: block;
        color: $grey3;

        &:hover {
          color: $grey3;
        }
      }
    }
  }
  
}

@media only screen and (min-width : 1px) and (max-width : 719px) {
  body {
    padding: 10px;
  }

  #main_content,
  #search_content {
    padding-bottom: ($smallColumn_px * 2.5) + 10px + 100px; // part of the hack to push footer down
    max-width: 100%;
  }

  .category {
    padding-right: 0;
    width: 100%;
    // background-color: rgba(purple,0.8);
    float: none;

    &:nth-child(4n) {
      width: 100%;
    }

    h2, ul {
      font-size: $bigText_m;
      line-height: $bigTextLine_m;
      float: none;
    }
    h2 {
      margin-bottom: 0;
      margin-left: -10px;
      margin-right: -10px;
      color: $black;
      a {
        display: block;
        padding: 15px 10px 15px 10px;
        color: $black;
        text-decoration: none;
      }
      border-bottom: 1px solid $grey1;
    }
    &:first-child {
      margin-top: -20px;
    }
    ul {
      float: none;
      margin: 20px -10px 0 -10px;
      padding-bottom: 20px;
      border-bottom: 1px solid $grey1;
      li {
        margin-bottom: 0.75rem;
        &.current {
          display: none;
        }
        a {
          padding-left: 10px;
          padding-right: 10px;
          color: $grey3;
          text-decoration: none;
          &:hover {
            color: $black;
          }
        }
      }
    }

    &.main {
      ul {
        display: none;
      }

      &.expanded {
        ul {
          display: block;
        }
      }
    }
    
  }


}
