// ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ layout defaults

*, *:before, *:after {
  @include box_sizing_inset;
}

html {
  height:100%; // hack for pushing footer to bottom
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

body {
  height:100%; // hack for pushing footer to bottom
  background-color: $white;
}

hr {
  display: block;
  margin: 1em 0;
  padding: 0;
  height: 1px;
  border: 0;
  border-top: 1px solid #f1f1f1;

  &.spacer {
    width: 100%;
    border: 0;
    background: none;
    clear: both;
  }
}

svg {
  title {
    display: none;
  }
}

// ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ main layout stuff

#content_container { // hack for pushing footer to bottom
  position: relative;
  min-height: 100%;
}

#main_content,
#search_content {
  position: relative;
  padding-left: $gutter_px;
  padding-bottom: $smallColumn_px + ($smallColumn_px * 4) + 15px + 200px + 30px; // part of the hack to push footer down
  margin: 0 auto;
  width: 100%;
  min-height: 100%; // hack for pushing footer to bottom
  max-width: $fullLayoutWidth_px;
  // background-color: yellow;

  @media only screen and (max-width : 640px) {
    padding-bottom: 0; // kill footer hack on mobile
    padding-left: 3.5%;
    padding-right: 3.5%;
  }
}

.page-header {
  position: relative;
  padding-bottom: 34%;
  margin-bottom: 70px;
  width: 100%;
  background-color: $grey2;
  @include centered_bg_image;

  @media only screen and (max-width : 640px) {
    margin-bottom: 40px;
    padding-bottom: percentage(200/320);
  }

  .constraint {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba($black,0.5);

    h1 {
      padding-right: 10%;
      padding-left: 10%;
      font-family: $groteskBlack;
      @include type-big(false);
      color: $white;
      @include center-align;
      text-align: center;

      @media only screen and (max-width : 640px) {
        padding-right: 5%;
        padding-left: 5%;
        font-size: 11vw;
        line-height: 11vw;
      }
    }

    p {
      &.credit {
        position: absolute;
        right: 20px;
        bottom: 20px;
        margin: 0;
        padding: 0;

        @media only screen and (max-width : 640px) {
          right: 10px;
          bottom: 10px;
        }

        a {
          display: block;
          color: $white;
          height: 40px;
          @include type-small(false);
          text-decoration: none;
          @include transition_opacity(150ms);

          @media only screen and (max-width : 640px) {
            height: 20px;
          }
          span {
            display: block;
            &.name {
              padding: 2px;
              float: right;
              @include vertical_align;
              border-bottom: 1px solid $white;

              @media only screen and (max-width : 640px) {
                padding: 0;
                border: 0;
                font-size: 0.75rem;
                line-height: 0.75rem;
                text-decoration: underline;
              }
            }
            &.profile-image {
              width: 40px;
              height: 40px;
              margin-left: 12px;
              @include border_radius(40px);
              float: right;
              overflow: hidden;

              @media only screen and (max-width : 640px) {
                margin-left: 8px;
                width: 20px;
                height: 20px;
              }

              img {
                display: block;
                width: 100%;
              }
            }
          }
          &:hover {
            @include opacity(60);
            @include transition_opacity(300ms);
          }
        }
      }
    }
  }
}
