// +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ mobile stuff

.mobile_only {
  display: none !important;
}

// Smartphones (portrait and landscape) ---------
@media only screen and (min-width : 1px) and (max-width : 719px) {
  body {
    min-width: 1px;
    max-width: 719px;
    -webkit-text-size-adjust: none;
  }

  .mobile_only {
    display: inline-block !important;
  }
  .no_mobile {
    display: none !important;
  }
  
}

@media only screen and (min-device-width : 1px) and (max-device-width : 640px) {
  // prevents iOS from doing its dumb zooming thing
  input[type='text'],
  input[type='email'] {
    font-size: 16px;
  }
}

// Smartphones (landscape) ----------------------
@media only screen and (min-width : 1px) and (max-width : 719px) { 

}

// Smartphones (portrait) -----------------------
@media only screen and (max-width : 400px) {

  body {
    min-width: 320px;
    max-width: 400px;
    -webkit-text-size-adjust: none;
  }

}

// iPads (portrait and landscape) ---------------
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
  
}

// iPads (landscape) ----------------------------
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {

  body {
    min-width: auto;
    max-width: 1024px;
    -webkit-text-size-adjust: none;
  }

}

// iPads (portrait) -----------------------------
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {

  body {
    min-width: 768px;
    max-width: 768px;
    -webkit-text-size-adjust: none;
  }
  
}
