// ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ typography defaults

@font-face {
  font-family: "AtlasGroteskRegular";
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  src: url("//fonts.ello.co/AtlasGrotesk-Regular-Web.eot");
  src: url("//fonts.ello.co/AtlasGrotesk-Regular-Web.eot?#iefix") format("embedded-opentype"), url("//fonts.ello.co/AtlasGrotesk-Regular-Web.woff") format("woff"), url("//fonts.ello.co/AtlasGrotesk-Regular-Web.ttf") format("truetype"), url("//fonts.ello.co/AtlasGrotesk-Regular-Web.svg#AtlasGroteskRegular") format("svg");
}
@font-face {
  font-family: "AtlasGroteskBold";
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  src: url("//fonts.ello.co/AtlasGrotesk-Bold-Web.eot");
  src: url("//fonts.ello.co/AtlasGrotesk-Bold-Web.eot?#iefix") format("embedded-opentype"), url("//fonts.ello.co/AtlasGrotesk-Bold-Web.woff") format("woff"), url("//fonts.ello.co/AtlasGrotesk-Bold-Web.ttf") format("truetype"), url("//fonts.ello.co/AtlasGrotesk-Bold-Web.svg#AtlasGroteskBold") format("svg");
}
@font-face {
  font-family: "AtlasGroteskBlack";
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  src: url("//fonts.ello.co/AtlasGrotesk-Black-Web.eot");
  src: url("//fonts.ello.co/AtlasGrotesk-Black-Web.eot?#iefix") format("embedded-opentype"), url("//fonts.ello.co/AtlasGrotesk-Black-Web.woff") format("woff"), url("//fonts.ello.co/AtlasGrotesk-Black-Web.ttf") format("truetype"), url("//fonts.ello.co/AtlasGrotesk-Black-Web.svg#AtlasGroteskBlack") format("svg");
}

$groteskRegular: "AtlasGroteskRegular", "AtlasGrotesk-Regular", "Helvetica Neue", "HelveticaNeue", "Helvetica", sans-serif;      // weight 400
$groteskBold:    "AtlasGroteskBold", "AtlasGrotesk-Bold", "Helvetica Neue", "HelveticaNeue", "Helvetica", "Arial", sans-serif;   // weight 700
$groteskBlack:   "AtlasGroteskBlack", "AtlasGrotesk-Black", "Helvetica Neue", "HelveticaNeue", "Helvetica", "Arial", sans-serif; // weight 900

/* Typography Bible -------------------

* Atlas Grotesk Regular (400)
* Atlas Grotesk Bold (700)
* Atlas Grotesk Black (900)

handle italics with font-style: italic (no italics available for Black)

------------------- */

// +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ site-wide defaults

@mixin type-small($line: true) {
  font-size: 0.875rem;
  @if $line {
    line-height: 1.35rem;
  } @else {
    line-height: 0.875rem;
  }

  @media only screen and (max-width : 640px) {
    font-size: 0.875rem;
    @if $line {
      line-height: 1.35rem;
    } @else {
      line-height: 0.875rem;
    }
  }
}

@mixin type-medium($line: true) {
  font-size: 1.45rem;
  @if $line {
    line-height: 1.925rem;
  } @else {
    line-height: 1.45rem;
  }

  @media only screen and (max-width : 640px) {
    font-size: 1.45rem;
    @if $line {
      line-height: 1.925rem;
    } @else {
      line-height: 1.45rem;
    }
  }
}

@mixin type-big($line: true) {
  font-size: 9rem;
  @if $line {
    line-height: 11rem;
  } @else {
    line-height: 9rem;
  }

  @media only screen and (max-width : 1200px) {
    font-size: 12vw;
    @if $line {
      line-height: 14.7vw;
    } @else {
      line-height: 12vw;
    }
  }
  @media only screen and (max-width : 640px) {
    font-size: 9rem;
    @if $line {
      line-height: 11rem;
    } @else {
      line-height: 9rem;
    }
  }
}

@mixin standard-copy-formatting {
  a {          
    border-bottom: 1.5pt solid;

    &:hover {
      color: $grey3;
    }
  }

  img {
    max-width: 100%;

    &.emoji {
      height: 1.2rem;
      vertical-align: middle;
    }
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: $groteskBold;
    font-weight: 700;
  }

  ul {
    list-style-type: disc;
  }
  ol {
    list-style-type: decimal;
  }

  p {
    code {
      margin: -0.3rem 0;
    }
    @media only screen and (min-width : 1px) and (max-width : 719px) {
      &:last-child {
        margin-bottom: 5px;
      }
    }
  }
}

html {
  font: normal 400 100%/1.5 $groteskRegular;
  @include text_size_adjust(1);
}

body {
  color: $black;
}

::selection {
  color: $white;
  background: $black; // Webkit
  text-shadow: none;
  }
::-moz-selection {
  color: $white;
  background: $black; // Firefox
  text-shadow: none;
}


a {
  color: inherit;
  text-decoration: none;
  @include transition_color(150ms);

  &:hover,
  &:active {
    outline: none;
  }
}

h1, h2, h3, h4, h5, h6 {
  @include type-medium;
}

p, ol, ul, dl {
  margin: 1.75rem 0;
  @include type-medium;
  a {
    &:active {
      color: $grey3;
    }
  }
}
p:empty {
  display: none;
}

ol, ul {
  padding: 0;
}
ol {
  margin-left: 2.2em;
}
ul {
  margin-left: 1.2em;
}
nav ul, nav ol {
  margin-left: 0;
  list-style: none;
}

em, i {
  font-style: italic;
}

strong, b {
  font-family: $groteskBold;
  font-style: normal;
  font-weight: 700;
}

strong em, em strong, b i, i b, b em, em b, strong i, i strong {
  font-family: $groteskBold;
  font-style: italic;
  font-weight: 700;
}

small {
  font-size: 0.875em;
}
sub, sup {
  position: relative;
  vertical-align: baseline;
  font-size: 0.75em;
  line-height: 0;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}

code, pre, blockquote {
  font-family: inherit;
  background-color: #f1f1f1;
  @include type-medium;
}
code, blockquote {
  display: inline-block;
  padding: 0.3rem 0.625rem 0.175rem 0.625rem;
}
pre {
  margin: 0.9375rem 0;
  padding: 0.9375rem;
  overflow: hidden;
  white-space: pre-wrap;
  word-wrap: break-word;
}
pre code {
  padding: 0;
  background-color: transparent;
}
blockquote {
  padding-top: 0;
  padding-bottom: 0;
  font-style: italic;
}

.hide_text {
  text-indent: 120%;
  white-space: nowrap;
  overflow: hidden;
}

