<!DOCTYPE html>
<html lang='en'>

  {% include head.html %}

  <body{% if page.css_hook %} class="{{ page.css_hook }}"{% endif %} data-site-title="{{ site.title }} | {{ site.subtitle }}">

    <div id="content_container">
      {% include header.html %}

      <div id="search_content" class="clear" style="display:none;">
        {% include search_content.html %}
      </div>

      {% capture page_header_text %}The Creators Network{% endcapture %}
      {% capture page_header_image %}{% asset_path 'page-headers/header_creators-network.png' %}{% endcapture %}
      {% include page_header.html %}

      <div id="main_content" class="clear">

        {{ content }}
      </div>

      {% include footer.html %}
    </div>

    {% if page.shareable %}
      {% include share_modal.html %}
    {% endif %}

    {% include bottom.html %}
  </body>
</html>
