<!DOCTYPE html>
<html lang='en'>

  {% include head.html %}

  <body class="article{% if page.css_hook %} {{ page.css_hook }}{% endif %}" data-site-title="{{ site.title }} | {{ site.subtitle }}">

    <div id="content_container">
      {% include header.html %}

      <div id="search_content" class="clear" style="display:none;">
        {% include search_content.html %}
      </div>

      {% if page.header_image %}{% assign page_header_image_path = page.header_image | prepend: 'page-headers/posts/' %}{% endif %}
      {% if page.header_credit_image %}{% assign page_header_credit_avatar_path = page.header_credit_image | prepend: 'page-headers/posts/' %}{% endif %}
      {% if page.title %}{% capture page_header_text %}{{ page.title }}{% endcapture %}{% endif %}
      {% if page_header_image_path %}{% capture page_header_image %}{% asset_path '{{ page_header_image_path }}' %}{% endcapture %}{% endif %}
      {% if page_header_credit_avatar_path %}{% capture page_header_credit_avatar %}{% asset_path '{{ page_header_credit_avatar_path }}' %}{% endcapture %}{% endif %}
      {% if page.header_credit %}{% capture page_header_credit %}{{ page.header_credit }}{% endcapture %}{% endif %}
      {% include page_header.html %}

      <div id="main_content" class="clear">
        
        <section class="content">
          <header>
            
          </header>

          {% if page.video %}
            <aside id="video_embed">
              <div class="embetter" data-{{page.video.source}}-id="124436717"><a href="{{page.video.url}}" target="_blank"><img src="{{page.video.img}}" alt="{{page.video.alt}}"></a></div>
            </aside>
          {% endif %}

          <article class="post_content">
            {% if page.title_alternate %}<h2>{{ page.title_alternate }}</h2>{% endif %}

            {{ content }}

            {% if page.ellobutton %}
              {% include ello_button.html %}
            {% endif %}
            {% if page.shareable %}
              {% include share_widget.html %}
            {% endif %}

            <footer>
              {% assign current_category = page.categories | first %}
              <p><span class="timestamp">Updated {{ page.date | date: "%B %-d, %Y" }}</span> – <a href="{{ site.baseurl }}/{{ current_category | handleize }}/">{{ current_category | capitalize }}</a></p>
            </footer>
          </article>
        </section>

      </div>

      {% include footer.html %}
    </div>

    {% if page.shareable %}
      {% include share_modal.html %}
    {% endif %}

    {% include bottom.html %}
  </body>
</html>
