---
layout: default
---
<aside class="category list">
  <h2>{{ page.categories | first | capitalize }}</h2>
  <ul>
    {% assign current_category = page.categories | first %}
    {% assign current_post     = page.id %}
    {% assign sorted_posts     = site.categories[current_category] | sort.position %}
    {% for post in sorted_posts %}
      <li{% if post.id == current_post %} class="current"{% endif %}><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>
</aside>

<hr />

<section class="content">
  <header>
    <h1>{{ page.title }}</h1>
    <p>Updated {{ page.date | date: "%B %-d, %Y" }}</p>
  </header>

  <article>
    {{ content }}
  </article>
</section>
