---
css_hook: article
---
<!DOCTYPE html>
<html lang='en'>

  {% include head.html %}

  <body{% if page.css_hook %} class="{{ page.css_hook }}"{% endif %} data-site-title="{{ site.title }} | {{ site.subtitle }}">

    <div id="content_container">
      {% include header.html %}

      <div id="search_content" class="clear" style="display:none;">
        {% include search_content.html %}
      </div>

      {% comment %}
      {% assign page_header_image_path = page.category | handleize | prepend: 'page-headers/categories/header_category-' | append: '.png' %}
      {% endcomment %}
      {% assign page_header_image_path = 'page-headers/posts/header_post.png' %}
      {% capture page_header_text %}{{ page.title }}{% endcapture %}
      {% capture page_header_image %}{% asset_path '{{ page_header_image_path }}' %}{% endcapture %}
      {% include page_header.html %}


      <div id="main_content" class="clear">
        
        <section class="content">
          <header>
            {% assign current_category = page.categories | first %}
            {% assign sorted_posts     = site.categories[current_category] | sort: 'position' %}
            {% assign first_post       = sorted_posts.first %}
            <h2 class="mobile_only"><a href="{{ site.baseurl }}{{ first_post.url }}">{{ current_category | capitalize }}</a></h2>
            <p class="timestamp no_mobile">Updated {{ page.date | date: "%B %-d, %Y" }}</p>
            <h1>{% if page.title_alternate %}{{ page.title_alternate }}{% else %}{{ page.title }}{% endif %}</h1>
            <p class="mobile_only">Updated {{ page.date | date: "%B %-d, %Y" }}</p>
          </header>

          {% if page.video %}
            <aside id="video_embed">
              <div class="embetter" data-{{page.video.source}}-id="124436717"><a href="{{page.video.url}}" target="_blank"><img src="{{page.video.img}}" alt="{{page.video.alt}}"></a></div>
            </aside>
          {% endif %}

          <article class="post_content">
            {{ content }}

            {% if page.ellobutton %}
              {% include ello_button.html %}
            {% endif %}
            {% if page.shareable %}
              {% include share_widget.html %}
            {% endif %}
          </article>
        </section>
        <hr class="article_end mobile_only" />

        <aside class="category list">
          {% assign current_category = page.categories | first %}
          {% assign current_post     = page.id %}
          {% assign sorted_posts     = site.categories[current_category] | sort: 'position' %}
          {% assign first_post       = sorted_posts.first %}
          <h2><a href="{{ site.baseurl }}{{ first_post.url }}">{{ page.categories | first | capitalize }}</a></h2>
          <ul>
            {% for post in sorted_posts %}
              <li{% if post.id == current_post %} class="current"{% endif %}><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></li>
            {% endfor %}
          </ul>
        </aside>

      </div>

      {% include footer.html %}
    </div>

    {% if page.shareable %}
      {% include share_modal.html %}
    {% endif %}

    {% include bottom.html %}
  </body>
</html>
