---
layout: default
css_hook: search
---

<div class="content">
  <header>
    <h1>Search Results for <span class="results">“Get Started”</span></h1>
  </header>

  <section class="results">
    {% assign current_category = 'about' %}
    {% assign sorted_posts     = site.categories[current_category] | sort.position %}
    {% for post in sorted_posts %}
      <article class="post result">
        <h2><a href="{{ site.baseurl }}{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></h2>
        {{ post.excerpt }}
        <p class="more"><a href="{{ site.baseurl }}{{ post.url }}" title="{{ post.title }}">More</a></p>
      </article>  
    {% endfor %}
  </section>  
</div>
