// +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ color defaults

$white:           white;
$black:           black;

$grey:            #666;
$lightGrey:       #aaa;
$darkGrey:        #4d4d4d;
