// ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ layout defaults

*, *:before, *:after {
  @include box_sizing_inset;
}

html {
  height:100%; // hack for pushing footer to bottom
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

body {
  padding: $gutter_px 0 0 $smallColumn_px;
  height:100%; // hack for pushing footer to bottom
  background-color: $white;
}

hr {
  display: block;
  margin: 1em 0;
  padding: 0;
  height: 1px;
  border: 0;
  border-top: 1px solid #f1f1f1;

  &.spacer {
    width: 100%;
    border: 0;
    background: none;
    clear: both;
  }
}

// ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ main layout stuff

#content_container { // hack for pushing footer to bottom
  position: relative;
  min-height: 100%;
}

#main_content {
  position: relative;
  // padding-bottom: 2.5rem;
  padding-bottom: $smallColumn_px + $smallColumn_px + 90px + 30px; // part of the hack to push footer down
  width: 100%;
  min-height: 100%; // hack for pushing footer to bottom
  max-width: $layoutWidth_px + $gutter_px;
  // background-color: yellow;
}



.category {
  padding-right: $gutter_px;
  width: 25%;
  // background-color: rgba(purple,0.8);
  float: left;

  h2, ul {
    font-family: $titleBold;
    font-size: $bigText;
    line-height: $bigTextLine;
    font-weight: 700;
  }

  ul {
    margin: 0;
  }
  h2 {
    margin-bottom: 2.75rem;
    color: $grey3;
    a {
      color: $grey3;
    }
  }
  ul {
    li {
      margin-bottom: 1.2rem;
      // background-color: rgba(pink,0.4);

      &:last-child {
        margin-bottom: 0;
      }
      a {
        display: block;
        text-decoration: underline;

        &:hover {
          color: $grey3;
        }
      }
    }
  }
  
}


// +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ columns, yo

.columns {
  width: 100%;
  float: left;

  &.margin {
    @include margin_right_by_layout(0,1);
    &.span_six { margin-right: 0 }
  }

  &.right {
    float: right;
  }

  &.content_right {
    text-align: right;
  }

  .column,
  .sub_column {
    width: 100%;
    float: left;

    &.right {
      float: right;
    }
  }

  &.span_six {
    $columnSpan: 6;
    .column {
      &.margin {
        @include margin_right_by_layout(0,1);
        &.six { margin-right: 0 }
      }

      &.one   { @include width_by_layout(1,0); }
      &.two   { @include width_by_layout(2,1); }
      &.three { @include width_by_layout(3,2); }
      &.four  { @include width_by_layout(4,3); }
      &.five  { @include width_by_layout(5,4); }
      &.six   { @include width_by_layout(6,5); }

      &.two {
        .sub_column {
          $columnSpan: 2;
          $columnSpanLessor: ($columnSpan - 1);
          &.margin {
            @include margin_right_by_divisor(0,1,$columnSpan,$columnSpanLessor);
            &.three { margin-right: 0 }
          }

          &.one   { @include width_by_divisor(1,0,$columnSpan,$columnSpanLessor); }
          &.two   { @include width_by_divisor(2,1,$columnSpan,$columnSpanLessor); }
        }
      }
      &.three {
        .sub_column {
          $columnSpan: 3;
          $columnSpanLessor: ($columnSpan - 1);
          &.margin {
            @include margin_right_by_divisor(0,1,$columnSpan,$columnSpanLessor);
            &.three { margin-right: 0 }
          }

          &.one   { @include width_by_divisor(1,0,$columnSpan,$columnSpanLessor); }
          &.two   { @include width_by_divisor(2,1,$columnSpan,$columnSpanLessor); }
          &.three { @include width_by_divisor(3,2,$columnSpan,$columnSpanLessor); }
        }
      }
      &.four {
        .sub_column {
          $columnSpan: 4;
          $columnSpanLessor: ($columnSpan - 1);
          &.margin {
            @include margin_right_by_divisor(0,1,$columnSpan,$columnSpanLessor);
            &.three { margin-right: 0 }
          }

          &.one   { @include width_by_divisor(1,0,$columnSpan,$columnSpanLessor); }
          &.two   { @include width_by_divisor(2,1,$columnSpan,$columnSpanLessor); }
          &.three { @include width_by_divisor(3,2,$columnSpan,$columnSpanLessor); }
          &.four  { @include width_by_divisor(4,3,$columnSpan,$columnSpanLessor); }
        }
      }
      &.five {
        .sub_column {
          $columnSpan: 5;
          $columnSpanLessor: ($columnSpan - 1);
          &.margin {
            @include margin_right_by_divisor(0,1,$columnSpan,$columnSpanLessor);
            &.three { margin-right: 0 }
          }

          &.one   { @include width_by_divisor(1,0,$columnSpan,$columnSpanLessor); }
          &.two   { @include width_by_divisor(2,1,$columnSpan,$columnSpanLessor); }
          &.three { @include width_by_divisor(3,2,$columnSpan,$columnSpanLessor); }
          &.four  { @include width_by_divisor(4,3,$columnSpan,$columnSpanLessor); }
          &.five  { @include width_by_divisor(5,4,$columnSpan,$columnSpanLessor); }
        }
      }
      &.six {
        .sub_column {
          $columnSpan: 6;
          $columnSpanLessor: ($columnSpan - 1);
          &.margin {
            @include margin_right_by_divisor(0,1,$columnSpan,$columnSpanLessor);
            &.three { margin-right: 0 }
          }

          &.one   { @include width_by_divisor(1,0,$columnSpan,$columnSpanLessor); }
          &.two   { @include width_by_divisor(2,1,$columnSpan,$columnSpanLessor); }
          &.three { @include width_by_divisor(3,2,$columnSpan,$columnSpanLessor); }
          &.four  { @include width_by_divisor(4,3,$columnSpan,$columnSpanLessor); }
          &.five  { @include width_by_divisor(5,4,$columnSpan,$columnSpanLessor); }
          &.six   { @include width_by_divisor(6,5,$columnSpan,$columnSpanLessor); }
        }
      }
    }
  }
  &.span_five {
    $columnSpan: 5;
    $columnSpanLessor: ($columnSpan - 1);
    @include width_by_layout($columnSpan,$columnSpanLessor);

    .column {
      &.margin {
        @include margin_right_by_divisor(0,1,$columnSpan,$columnSpanLessor);
        &.five { margin-right: 0 }
      }

      &.one   { @include width_by_divisor(1,0,$columnSpan,$columnSpanLessor); }
      &.two   { @include width_by_divisor(2,1,$columnSpan,$columnSpanLessor); }
      &.three { @include width_by_divisor(3,2,$columnSpan,$columnSpanLessor); }
      &.four  { @include width_by_divisor(4,3,$columnSpan,$columnSpanLessor); }
      &.five  { @include width_by_divisor(5,4,$columnSpan,$columnSpanLessor); }

      &.one {
        .sub_column {
          $columnSpan: 1;
          $columnSpanLessor: ($columnSpan - 1);
          &.margin {
            @include margin_right_by_divisor(0,1,$columnSpan,$columnSpanLessor);
            &.three { margin-right: 0 }
          }

          &.one   { @include width_by_divisor(1,0,$columnSpan,$columnSpanLessor); }
        }
      }
      &.two {
        .sub_column {
          $columnSpan: 2;
          $columnSpanLessor: ($columnSpan - 1);
          &.margin {
            @include margin_right_by_divisor(0,1,$columnSpan,$columnSpanLessor);
            &.three { margin-right: 0 }
          }

          &.one   { @include width_by_divisor(1,0,$columnSpan,$columnSpanLessor); }
          &.two   { @include width_by_divisor(2,1,$columnSpan,$columnSpanLessor); }
        }
      }
      &.three {
        .sub_column {
          $columnSpan: 3;
          $columnSpanLessor: ($columnSpan - 1);
          &.margin {
            @include margin_right_by_divisor(0,1,$columnSpan,$columnSpanLessor);
            &.three { margin-right: 0 }
          }

          &.one   { @include width_by_divisor(1,0,$columnSpan,$columnSpanLessor); }
          &.two   { @include width_by_divisor(2,1,$columnSpan,$columnSpanLessor); }
          &.three { @include width_by_divisor(3,2,$columnSpan,$columnSpanLessor); }
        }
      }
      &.four {
        $columnSpan: 4;
        $columnSpanLessor: ($columnSpan - 1);
        .sub_column {
          &.margin {
            @include margin_right_by_divisor(0,1,$columnSpan,$columnSpanLessor);
            &.five { margin-right: 0 }
          }

          &.one   { @include width_by_divisor(1,0,$columnSpan,$columnSpanLessor); }
          &.two   { @include width_by_divisor(2,1,$columnSpan,$columnSpanLessor); }
          &.three { @include width_by_divisor(3,2,$columnSpan,$columnSpanLessor); }
          &.four  { @include width_by_divisor(4,3,$columnSpan,$columnSpanLessor); }
          &.five  { @include width_by_divisor(5,4,$columnSpan,$columnSpanLessor); }
        }
      }
      &.five {
        $columnSpan: 5;
        $columnSpanLessor: ($columnSpan - 1);
        .sub_column {
          &.margin {
            @include margin_right_by_divisor(0,1,$columnSpan,$columnSpanLessor);
            &.five { margin-right: 0 }
          }

          &.one   { @include width_by_divisor(1,0,$columnSpan,$columnSpanLessor); }
          &.two   { @include width_by_divisor(2,1,$columnSpan,$columnSpanLessor); }
          &.three { @include width_by_divisor(3,2,$columnSpan,$columnSpanLessor); }
          &.four  { @include width_by_divisor(4,3,$columnSpan,$columnSpanLessor); }
          &.five  { @include width_by_divisor(5,4,$columnSpan,$columnSpanLessor); }
        }
      }
    }
  }
  &.span_four {
    $columnSpan: 4;
    $columnSpanLessor: ($columnSpan - 1);
    @include width_by_layout($columnSpan,$columnSpanLessor);

    .column {
      &.margin {
        @include margin_right_by_divisor(0,1,$columnSpan,$columnSpanLessor);
        &.four { margin-right: 0 }
      }

      &.one   { @include width_by_divisor(1,0,$columnSpan,$columnSpanLessor); }
      &.two   { @include width_by_divisor(2,1,$columnSpan,$columnSpanLessor); }
      &.three { @include width_by_divisor(3,2,$columnSpan,$columnSpanLessor); }
      &.four  { @include width_by_divisor(4,3,$columnSpan,$columnSpanLessor); }
    }
  }
  &.span_three {
    $columnSpan: 3;
    $columnSpanLessor: ($columnSpan - 1);
    @include width_by_layout($columnSpan,$columnSpanLessor);

    .column {
      &.margin {
        @include margin_right_by_divisor(0,1,$columnSpan,$columnSpanLessor);
        &.three { margin-right: 0 }
      }

      &.one   { @include width_by_divisor(1,0,$columnSpan,$columnSpanLessor); }
      &.two   { @include width_by_divisor(2,1,$columnSpan,$columnSpanLessor); }
      &.three { @include width_by_divisor(3,2,$columnSpan,$columnSpanLessor); }
    }
  }
  &.span_two {
    $columnSpan: 2;
    $columnSpanLessor: ($columnSpan - 1);
    @include width_by_layout($columnSpan,$columnSpanLessor);

    .column {
      &.margin {
        @include margin_right_by_divisor(0,1,$columnSpan,$columnSpanLessor);
        &.two { margin-right: 0 }
      }

      &.one   { @include width_by_divisor(1,0,$columnSpan,$columnSpanLessor); }
      &.two   { @include width_by_divisor(2,1,$columnSpan,$columnSpanLessor); }
    }
  }
  &.span_one {
    $columnSpan: 1;
    $columnSpanLessor: ($columnSpan - 1);
    @include width_by_layout($columnSpan,$columnSpanLessor);

    .column {
      &.margin {margin-right: 0 }

      &.one   { @include width_by_divisor(1,0,$columnSpan,$columnSpanLessor); }
    }
  }
}

// ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ placeholder stuff

.placeholder,
.tktk {
  background-color: #ff7bac;
  
  p, ul, ol {
    padding: 24px;
    font-family: $bodyNormal;
    font-size: 24px;
    line-height: 32px;
    font-weight: 600;
    color: $white;
  }
}

.tktk_note {
  font-family: $bodyNormal;
  font-size: 24px !important;
  font-weight: 600 !important;
  color: #ff7bac !important;
}
