// ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ typography defaults

@font-face {
  font-family: "AtlasTypewriterRegular";
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  src: url(https://d2r3yqi5wwm1w7.cloudfront.net/assets/AtlasTypewriter-Regular-Web.eot);
  src: url(https://d2r3yqi5wwm1w7.cloudfront.net/assets/AtlasTypewriter-Regular-Web.eot?#iefix) format("embedded-opentype"), url(https://d2r3yqi5wwm1w7.cloudfront.net/assets/AtlasTypewriter-Regular-Web.woff) format("woff"), url(https://d2r3yqi5wwm1w7.cloudfront.net/assets/AtlasTypewriter-Regular-Web.ttf) format("truetype"), url(https://d2r3yqi5wwm1w7.cloudfront.net/assets/AtlasTypewriter-Regular-Web.svg#AtlasTypewriterRegular) format("svg");
}
@font-face {
  font-family: "AtlasTypewriterRegularItalic";
  font-weight: 400;
  font-style: italic;
  font-stretch: normal;
  src: url(https://d2r3yqi5wwm1w7.cloudfront.net/assets/AtlasTypewriter-RegularItalic-Web.eot);
  src: url(https://d2r3yqi5wwm1w7.cloudfront.net/assets/AtlasTypewriter-RegularItalic-Web.eot?#iefix) format("embedded-opentype"), url(https://d2r3yqi5wwm1w7.cloudfront.net/assets/AtlasTypewriter-RegularItalic-Web.woff) format("woff"), url(https://d2r3yqi5wwm1w7.cloudfront.net/fonts/AtlasTypewriter-RegularItalic.ttf) format("truetype"), url(https://d2r3yqi5wwm1w7.cloudfront.net/assets/AtlasTypewriter-RegularItalic-Web.svg#AtlasTypewriterRegularItalic) format("svg");
}
@font-face {
  font-family: "AtlasTypewriterMedium";
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  src: url(https://d2r3yqi5wwm1w7.cloudfront.net/assets/AtlasTypewriter-Medium-Web.eot);
  src: url(https://d2r3yqi5wwm1w7.cloudfront.net/assets/AtlasTypewriter-Medium-Web.eot?#iefix) format("embedded-opentype"), url(https://d2r3yqi5wwm1w7.cloudfront.net/assets/AtlasTypewriter-Medium-Web.woff) format("woff"), url(https://d2r3yqi5wwm1w7.cloudfront.net/assets/AtlasTypewriter-Medium-Web.ttf) format("truetype"), url(https://d2r3yqi5wwm1w7.cloudfront.net/assets/AtlasTypewriter-Medium-Web.svg#AtlasTypewriterMedium) format("svg");
}
@font-face {
  font-family: "AtlasTypewriterMediumItalic";
  font-weight: 500;
  font-style: italic;
  font-stretch: normal;
  src: url(https://d2r3yqi5wwm1w7.cloudfront.net/assets/AtlasTypewriter-MediumItalic-Web.eot);
  src: url(https://d2r3yqi5wwm1w7.cloudfront.net/assets/AtlasTypewriter-MediumItalic-Web.eot?#iefix) format("embedded-opentype"), url(https://d2r3yqi5wwm1w7.cloudfront.net/assets/AtlasTypewriter-MediumItalic-Web.woff) format("woff"), url(https://d2r3yqi5wwm1w7.cloudfront.net/assets/AtlasTypewriter-MediumItalic-Web.ttf) format("truetype"), url(https://d2r3yqi5wwm1w7.cloudfront.net/assets/AtlasTypewriter-MediumItalic-Web.svg#AtlasTypewriterMediumItalic) format("svg");
}
@font-face {
  font-family: "AtlasGroteskBold";
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  src: url(https://d2r3yqi5wwm1w7.cloudfront.net/assets/AtlasGrotesk-Bold-Web.eot);
  src: url(https://d2r3yqi5wwm1w7.cloudfront.net/assets/AtlasGrotesk-Bold-Web.eot?#iefix) format("embedded-opentype"), url(https://d2r3yqi5wwm1w7.cloudfront.net/assets/AtlasGrotesk-Bold-Web.woff) format("woff"), url(https://d2r3yqi5wwm1w7.cloudfront.net/assets/AtlasGrotesk-Bold-Web.ttf) format("truetype"), url(https://d2r3yqi5wwm1w7.cloudfront.net/assets/AtlasGrotesk-Bold-Web.svg#AtlasGroteskBold) format("svg");
}

$title: "futura-pt", Helvetica, Arial, sans-serif; /* weights: 700, 800 */
$body: "proxima-nova", Verdana, sans-serif; /* weights: 400, 700, 900 */ 

/* Typography Bible -------------------

* Atlas Typewriter Regular (400)
* Atlas Typewriter Regular Italic (400)
* Atlas Typewriter Bold (700)
* Atlas Typewriter Bold Italic (700)
* Atlas Grotesk Regular (400)
* Atlas Grotesk Regular Italic (400)
* Atlas Grotesk Bold (700)
* Atlas Grotesk Bold Italic (700)

Atlas Typewriter Regular & Bold 12pt
Atlas Grotesk Regular & Bold 24pt
Atlas Grotesk Bold 18pt (sub-heading within posts)

------------------- */

a {
  color: $black;
  text-decoration: underline;

  &.disabled {
    cursor: default;
  }
}
a:hover {
  text-decoration: none;

  &.disabled {
    text-decoration: none;
  }
}
a:active {
  color: $grey;

  &.disabled {
    color: $black;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: $title;
  font-weight: 900;
  
  em, i {
    font-style: italic;
  }
}

h1, h2 {
  margin-bottom: 102px;
  font-size: 92px;
  line-height: 102px;
  color: $black;
}
h2 {
  margin-bottom: 58px;
  font-size: 56px;
  line-height: 58px;
  text-transform: uppercase;
}

h3, h4 {
  margin-bottom: 52px;
  font-size: 44px;
  line-height: 52px;
}
h3 { color: $black; }
h4 { color: $black; }

h4 em {
  display: block;
  color: $black;
}
h4 a { color: $black; }

h5 {
  margin-bottom: 38px;
  font-size: 34px;
  line-height: 38px;
}
h6 {
  margin-bottom: 38px;
  font-size: 32px;
  line-height: 38px;
}

p, ul, ol {
  margin-bottom: 18px;
  font-size: 14px;
  line-height: 18px;
  color: $black;
}

p {
  font-family: $body;
}

b {
  font-weight: bold;
}

i {
  font-style: italic;
}

::selection {
  color: $white;
  background: $grey; /* Webkit */
  }
::-moz-selection {
  color: $white;
  background: $grey; /* Firefox */
}

.hide_text {
  text-indent: 120%;
  white-space: nowrap;
  overflow: hidden;
}
